@model IEnumerable<JobPlacementDashboard.ViewModels.AnalyticsViewModel>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  

<div class="container col-md-12">
<div class="banner">
  <img src="https://www.pragnam.net/wp-content/uploads/2018/01/software-banner.jpg" alt="Software" class="full-width-image">
    <div class="text-block">
       <h1 id="toWhite">CONGRATULATIONS 
        <br />
        NEW HIRES!!!
       </h1>
    </div>
    <div class="content-article container">
        <div id="Carousel" class="carousel slide container" data-ride="carousel">
            @*<ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li data-target="#Carousel" data-slide-to="@i" class="@(i == 0 ? "active" : string.Empty)"></li>
                }
            </ol>*@
            <div class="carousel-inner text-center">
                @for (int i = 0; i < Model.Count(); i++)
                {
                <div class="item @(i == 0 ? "active" : string.Empty)">
                    <p>@Model.ElementAt(i).jpName</p>
                    <p><a href="http://@Model.ElementAt(i).JPCareersPage" target="_blank">@Model.ElementAt(i).JPCompanyName</a></p>
                </div>
                }
            </div>
            <a class="left carousel-control" href="#Carousel" id="trans1" role="button" data-slide="prev">
            </a>
            <a class="right carousel-control" href="#Carousel" id="trans2" role="button" data-slide="next">
            </a>
        </div>
    </div>
</div>
</div>

