@model JobPlacementDashboard.Models.JPChecklist

    
        <h4>Checklist Items</h4>
<hr />


<div class ="flex-container">

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JPBusinessCards, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JPBusinessCards)
                @Html.ValidationMessageFor(model => model.JPBusinessCards, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JPMeetups, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JPMeetups)
                @Html.ValidationMessageFor(model => model.JPMeetups, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JPUpdatedLinkedIn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JPUpdatedLinkedIn)
                @Html.ValidationMessageFor(model => model.JPUpdatedLinkedIn, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JPUpdatedPortfolioSite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JPUpdatedPortfolioSite)
                @Html.ValidationMessageFor(model => model.JPUpdatedPortfolioSite, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JPCleanGitHub, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JPCleanGitHub)
                @Html.ValidationMessageFor(model => model.JPCleanGitHub, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group-rd">
        @Html.LabelFor(model => model.JpRoundTables, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.JpRoundTables)
                @*@Html.ValidationMessageFor(model => model.JpRoundTables, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
</div>

