@model JobPlacementDashboard.Models.JPChecklist

@{
    if (Model != null)
    {
        <h3>&nbsp;&nbsp;@Html.DisplayFor(model => model.ApplicationUser.FirstName)'s Check List</h3>
    }
    else
    {
        <h3>Check List</h3>
    }
}


<p><br /></p>
@Html.HiddenFor(model => model.ApplicationUserid)
<div class="card col-12 noshadow shadow-none">
    <div class="card-body col-12 text-center noshadow shadow-none">
        <form>
            <div class="form-group center-block">
                @*<div class="form-group mychecklist col-12">
                        <label for="inputFirstName" class="mychecklistItems">Name</label>
                        @Html.DisplayFor(model => model.ApplicationUser.FirstName)
                    </div>*@

                <div class="mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JPBusinessCards)
                    <label for="inputLastName" class="mychecklistItems">Business Cards</label>
                </div>

                <div class="form-group mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JPMeetups)
                    <label for="inputLastName" class="mychecklistItems">Meetups</label>
                </div>

                <div class="form-group mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JPUpdatedLinkedIn)
                    <label for="inputLastName" class="mychecklistItems">Updated LinkedIn</label>
                </div>

                <div class="form-group mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JPUpdatedPortfolioSite)
                    <label for="inputLastName" class="mychecklistItems">Updated Portfolio Site</label>
                </div>

                <div class="form-group mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JPCleanGitHub)
                    <label for="inputLastName" class="mychecklistItems">Clean GitHub</label>
                </div>

                <div class="form-group mychecklist checkbox col-12 text-left">
                    @Html.DisplayFor(model => model.JpRoundTables)
                    <label for="inputLastName" class="mychecklistItems">Round Tables</label>
                </div>

                <div class="edit-link">
                    @{
                        if (Model != null)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.JPChecklistid });
                        }
                        else
                        {
                            <h6>Edit Unavalible</h6>
                        }
                    }

                </div>
            </div>
        </form>
    </div>
</div>


