@model IEnumerable<JobPlacementDashboard.Models.JPStudent>

@{
    /**/

    ViewBag.Title = "Index";
}
<style>
    .table{
        margin-left: 25px;
    }
    th#JPStudentsTable{
        text-align: left;
    }
    a {
        margin-left: 0px;
    }
</style>
<h3>&nbsp;&nbsp;Student Information</h3>
<p><br /> <br /><br /></p>
<p>
    @Html.ActionLink("Create New Student Job Placement Account", "Create")
</p>
<br />


@using (Html.BeginForm())
{
    <p>
        <div id="SearchContainer" style="margin-right:100px">
            <div class="row" style="margin-left: 18px">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="search" name="SearchString" class="form-control input-md" placeholder="Find by name or location" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>
}

<table class="students-index table">
    <tr>
        <th id="JPStudentsTable">
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="JPStudentsTable">
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="JPStudentsTable">
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="JPStudentsTable">
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="JPStudentsTable">
            @Html.ActionLink("Linkedin Profile", "Index", new { sortOrder = ViewBag.LinkedinProfileSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="JPStudentsTable">
            @Html.ActionLink("Portfolio", "Index", new { sortOrder = ViewBag.PortfolioSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="JPStudentsTable" style=""text-align:left">
            <td id="JPStudentsTable">
                @Html.DisplayFor(modelItem => item.JPName)
            </td>
            <td id="JPStudentsTable">
                <a href="mailto: @Html.DisplayFor(modelItem => item.JPEmail)">@Html.DisplayFor(modelItem => item.JPEmail)</a>
            </td>
            <td id="JPStudentsTable">
                @functions {
                    /**/

                    public string returnWithSpaces(string location)
                    {
                        string newString = System.Text.RegularExpressions.Regex.Replace(location, "[A-Z]", " $0");
                        newString = newString.Trim();
                        return newString;
                    }
                }
                @{
                    var testString = item.JPStudentLocation.ToString();
                    var newString = returnWithSpaces(testString);
                }
                @Html.DisplayFor(modelItem => newString)
            </td>
            <td id="JPStudentsTable">
                @Html.DisplayFor(modelItem => item.DaysSinceStart)
            </td>
            <td id="JPStudentsTable">
                <a href="http://@Html.ExternalLink(item.JPLinkedIn)" target="_blank">LinkedIn Profile</a>
            </td>
            <td id="JPStudentsTable">
                <a href="http://@Html.ExternalLink(item.JPPortfolio)" target="_blank">Student Portfolio</a>
            </td>
            <td id="JPStudentsTable">
                @Html.ActionLink("Edit", "Edit", new { id = item.JPStudentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JPStudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JPStudentId })
            </td>
        </tr>
    }
</table>
<br />
<div style="margin-left: 50px">
    @Html.ActionLink("Export Student Email Addresses", "Result", Model, new { @class = "btn btn-primary" })
</div>
<br />