@model JobPlacementDashboard.Models.JPHire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JPHire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JPCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPJobCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPJobCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPCompanyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCompanyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPCompanyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCompanyState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPSecondJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPSecondJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPCareersPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCareersPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPHireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPHireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JPHireId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
