@model IEnumerable<JobPlacementDashboard.Models.JPHire>

@{
    ViewBag.Title = "Index";
}
<style>
    .table{
        margin-left: 25px;
    }
    a {
        margin-left: 0px;
    }
</style>
<h3>&nbsp;&nbsp;Job Offer Information</h3>

<p><br /> <br /><br /></p>

@using (Html.BeginForm())
{
    <p>
        <div id="SearchContainer">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="search" placeholder="Search" name="SearchString" class="form-control input-lg"  />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>
}

    <div class="container">
        <table class="hires-index table">
                <tr>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanySortParm })
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Job Title", "Index", new { sortOrder = ViewBag.JobTitleSortParm })
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Job Category", "Index", new { sortOrder = ViewBag.JobCategorySortParm })
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm })
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.CompanyCitySortParm })<!--<a href="Url.Action("Index", new { sortOrder = ViewBag.CompanyCitySortParm })">Company<br/>Location</a>-->
                    </th>
                    <th id="JPHiresTable">
                        @Html.ActionLink("Hire Date", "Index", new { sortOrder = ViewBag.HireDateSortParm })
                    </th>
                </tr>
            

            @foreach (var item in Model)
            {
                <tr id="JPHiresTable">
                    <td id="JPHiresTable">
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                        <a></a>
                    </td>
                    <td id="JPHiresTable">
                        <a href="http://@Html.ExternalLink(item.JPCareersPage)" target="_blank">@Html.DisplayFor(modelItem => item.JPCompanyName)</a>
                    </td>
                    <td id="JPHiresTable">
                        @Html.DisplayFor(modelItem => item.JPJobTitle)
                    </td>
                    <td id="JPHiresTable">
                        @Html.DisplayFor(modelItem => item.JPJobCategory).ToString().Replace("_", " ")
                    </td>
                    <td id="JPHiresTable">
                        @Html.DisplayFor(modelItem => item.JPSalary).ToString()
                    </td>
                    <td id="JPHiresTable">
                        @Html.DisplayFor(modelItem => item.JPCompanyCity)
                        ,
                        @Html.DisplayFor(modelItem => item.JPCompanyState)
                    </td>
                    <td id="JPHiresTable">
                        @item.JPHireDate.ToShortDateString()
                    </td>
                </tr>
            }

        </table>


    </div>

