@model JobPlacementDashboard.Models.JPChecklist

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JPChecklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPBusinessCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPBusinessCards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPMeetups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPMeetups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPUpdatedLinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPUpdatedLinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPUpdatedPortfolioSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPUpdatedPortfolioSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPCleanGitHub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCleanGitHub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JpRoundTables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JpRoundTables)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
