@model JobPlacementDashboard.Models.JPChecklist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JPChecklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPBusinessCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPBusinessCards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPMeetups)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPMeetups)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPUpdatedLinkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPUpdatedLinkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPUpdatedPortfolioSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPUpdatedPortfolioSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JPCleanGitHub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JPCleanGitHub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JpRoundTables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JpRoundTables)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JPChecklistid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
