@model JobPlacementDashboard.ViewModels.AnalyticsViewModel

   

       

@{
    ViewBag.Title = "Analytics";
}

<h2 style="text-align: center">Welcome to Job Placement!</h2>

<br />
@Html.Action("_Carousel")
<br />
<div class="container">
    <div class="row">
        <div class="col-6 col-md-3 borderAnalytics">
            @Html.LabelFor(model => model.JPAverageSalary)<br />
            @Html.DisplayFor(model => model.JPAverageSalary)<br />
            @Html.LabelFor(model => model.JPAverageApps)<br />
            @Html.DisplayFor(model => model.JPAverageApps)<br />
            @Html.LabelFor(model => model.CommonCompany)<br />
            @Html.DisplayFor(model => model.CommonCompany)<br />
            @Html.LabelFor(model => model.CommonJobCategory)<br />
            @Html.DisplayFor(model => model.CommonJobCategory)<br />
            @Html.LabelFor(model => model.CommonAppliedCompany)<br />
            @Html.DisplayFor(model => model.CommonAppliedCompany)<br />
            @Html.LabelFor(model => model.CommonAppCategory)<br />
            @Html.DisplayFor(model => model.CommonAppCategory)
        </div>
        <div class="col-6 col-md-3 borderAnalytics">
            <p>Learn more about networking with fellow Tech Academy students who have been hired in the field.</p>
            <div class="text-center">
                <a class="btn btn-default" id="buttonAnalytics" href="~/Networking/Networking">Networking</a>
            </div>
        </div>
        <div class="col-6 col-md-3 borderAnalytics">
            <p>See our bulletin with information from our Job Placement Director on current job listings, advice, and upcoming events.</p>
            <div class="text-center">
                <a class="btn btn-default" id="buttonAnalytics" href="~/JPBulletins/Index">Bulletin</a>
            </div>
        </div>
    </div>
</div>
    