

@model IEnumerable<JobPlacementDashboard.Models.JPBulletin>
@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<h2>Index</h2>

<!-- Dropdown Button -->
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Advice", "Index", new { sortType = ViewBag.AdviceSortParm })</li>
        <li>@Html.ActionLink("Job Postings", "Index", new { sortType = ViewBag.JobPostingSortParm })</li>
        <li>@Html.ActionLink("Events", "Index", new { sortType = ViewBag.EventsSortParm })</li>
        <li>@Html.ActionLink("All", "Index", new { sortType = ViewBag.AllSortParm })</li>
    </ul>
</div>

<div class="bulletin-wrapper">
   
    <div class="bulletin-board">
        @{
            if (ViewBag.ResultsFound)
            {
                /* Texture generated from https://www.cssmatic.com/noise-texture */
                <div id="yasin01" class="jumbotron text-center border">
                    <h3>Job Placement Bulletins</h3>

                    <div id="yasin02">

                        @foreach (var item in Model)
                        {
                            <div id="yasin03" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.Raw(@item.BulletinCategoryEnum)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.BulletinDate.ToString("MM-dd-yyyy")</h6>
                                    <p class="card-text">@Html.Raw(@item.BulletinBody)</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div>
                    <h2>No @ViewBag.SortMessage to show at this time</h2>
                </div>
            }
        }
    </div>

     <div class="MeetupBulletin">
        
        @{Html.RenderAction("_MeetUpApi", "JPBulletins");}
         
       
    </div>
</div>
