<head>
    <style type="text/css">
        .input-lg {
            width: 433px;
        }
    </style>
</head>
@model IEnumerable<JobPlacementDashboard.ViewModels.NetworkingViewModel>

@{
    ViewBag.Title = "Networking";
}

<div class="container">
    <div class="col-sm-12">
        <h2>Networking</h2>

        <br />

        @using (Html.BeginForm("Networking", "Networking", FormMethod.Get))
        {
            <p>
                <div id="SearchContainerNet">
                    <form class="row">
                        <div class="form-group ">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8" id="networkingSearch">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-8">
                                        <input type="search" name="keyword" class=" input-lg" placeholder="Enter keyword to filter" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info btn-lg" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                @Html.ActionLink("Reset", "Networking", Model, new { @class = "btn btn-primary", @id = "btnsize" })

                            </div>
                        </div>
                    </form>
                </div>

            </p>
        }

        @Html.ValidationSummary()





        <table class="table" id="networktable">

            <tr>
                <th>
                    @Html.ActionLink("Student Name", "Networking", new { sortOrder = ViewBag.StudentNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Company Name", "Networking", new { sortOrder = ViewBag.CompanyNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Job Title", "Networking", new { sortOrder = ViewBag.JobTitleSortParm, filterBy = "Tech" })
                </th>
                <th>
                    @Html.ActionLink("Company Location", "Networking", new { sortOrder = ViewBag.CompanyLocationSortParm })
                </th>
                <th>
                    @Html.ActionLink("Hire Date", "Networking", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th class="sort-button-style">
                    <label>@Html.DisplayNameFor(model => model.JPLinkedIn)</label>
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JPName)
                    </td>
                    <td>
                        <!--Displays Company Name as a link to their careers page-->
                        <a href="http://@item.JPCareersPage" target="_blank">@Html.DisplayFor(modelItem => item.JPCompanyName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JPJobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JPCompanyCity)
                    </td>
                    <td>
                        <!--showing HireDate without hours/minutes-->
                        @item.JPHireDate.ToShortDateString()
                    </td>
                    <td>
                        <!--Displays LinkedIn as links and opens in a new tab-->
                        <a href="http://@item.JPLinkedIn" target="_blank">LinkedIn</a>
                    </td>
                </tr>
            }

        </table>

        <br />
        <div id="outsideNetworkingPartial">
            @Html.Action("_OutsideNetworking", "JPOutsideNetworkings", null)
        </div>               
        <br />
    </div>
</div>

<script>
    function sortPartial(sortOrder) {
        $.ajax({
            url: "/JPOutsideNetworkings/_OutsideNetworking",
            type: "get",
            data: { sortOrder }, //if you need to post Model data, use this
            success: function (result) {
                $("#outsideNetworkingPartial").html(result);
            }
        });
    }
</script>


