@model JobPlacementDashboard.Models.JPApplication

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JPApplication</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JPAppId)

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPCompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JPCompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JPCompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPJobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JPJobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JPJobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPJobCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.JPJobCategory, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JPJobCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPCompanyCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JPCompanyCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JPCompanyCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPCompanyState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.JPCompanyState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JPCompanyState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            @Html.LabelFor(model => model.JPApplicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JPApplicationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JPApplicationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="inline1">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
