@model IEnumerable<JobPlacementDashboard.Models.JPApplication>
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="col-sm-12">
        <h3>&nbsp;&nbsp;Application Information</h3>

        <p><br /> <br /><br /></p>




        @using (Html.BeginForm())
        {
            <p>
                <div id="SearchContainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="search" placeholder="Search" name="SearchString" class="form-control input-lg" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }


        <table class="table">
            <tr class="text-center">
                <th class="text-center">
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th class="text-center">
                    @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.CompanySortParm })
                </th>
                <th class="text-center">
                    @Html.ActionLink("Job Title", "Index", new { sortOrder = ViewBag.JobTitleSortParm })
                </th>
                <th class="text-center">
                    @Html.ActionLink("Job Category", "Index", new { sortOrder = ViewBag.JobCategorySortParm })
                </th>
                <th class="text-center">
                    @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.CompanyCitySortParm })
                </th>
                <th class="text-center">
                    @Html.ActionLink("Application Date", "Index", new { sortOrder = ViewBag.ApplicationDateSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.JPCompanyName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.JPJobTitle)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.JPJobCategory).ToString().Replace("_", " ")
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.JPCompanyCity),
                        @Html.DisplayFor(modelItem => item.JPCompanyState).ToString().Replace("_", " ")
                    </td>
                    <td class="text-center">
                        @item.JPApplicationDate.ToShortDateString()
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.JPAppId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.JPAppId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<br />
