@model IEnumerable<JobPlacementDashboard.Models.JPApplication>

@{
    ViewBag.Title = "StudentIndex";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<h2>StudentIndex</h2>

<br />

@{Html.RenderAction("_MyChecklist", "JPChecklists");}

<div>    
        @if (@ViewBag.TotalApplications >= 35)
        {
        <h3>
            You have completed @ViewBag.TotalApplications of the 35 Applications. Ready to Graduate.
        </h3>
            }
            else
            {
        <h3>
            You have completed @ViewBag.TotalApplications of the 35 Applications.You still need @ViewBag.AppGoal to graduate.
        </h3>
            }        
</div>

<br />

@using (Html.BeginForm())
{
    <p>
        <div id="SearchContainer">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="search" name="SearchString" class="form-control input-lg" placeholder="Company Name" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>
}

<br />

<table class="student-index-table table">
    <tr>
        <th>
            @Html.ActionLink("Company", "StudentIndex", new { sortOrder = ViewBag.CompanySort, searchString = ViewBag.searchString })
        </th>
        <th>
            @Html.ActionLink("Job Title", "StudentIndex", new { sortOrder = ViewBag.TitleSort, searchString = ViewBag.searchString })
        </th>
        <th>
            @Html.ActionLink("Location", "StudentIndex", new { sortOrder = ViewBag.CitySort, searchString = ViewBag.searchString })
        </th>
        <th>
            @Html.ActionLink("Application Date", "StudentIndex", new { sortOrder = ViewBag.DateSort, searchString = ViewBag.searchString })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JPCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JPJobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JPCompanyCity),
                @Html.DisplayFor(modelItem => item.JPCompanyState)
            </td>
            <td>
                @DateTime.Parse(Html.DisplayFor(modelItem => item.JPApplicationDate).ToString()).ToShortDateString()

            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JPAppId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JPAppId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JPAppId })
            </td>
        </tr>
    }

</table>
